header
	.logo 
		display: inline-block

.links
	display: inline-block
	float: right
	background-color: #444
	position: relative
	height: 100px
	nav
		position: relative
		top: 30px

		ul
			li
 				display: inline-block

	.social
		float: right
